fastapi
uvicorn
sentence-transformers
numpy
pdfplumber
beautifulsoup4
lxml
python-multipart
playwright
pytesseract
pillow
opencv-python
python-dotenv
openai-whisper
transformers
torch
timm
bitsandbytes
accelerate
